@use "../../partials" as *;

.forgotPassword {
  @include flex(column, center, center);
  margin-block: 40px;
  &__heading {
    font-family: $workSans;
    font-weight: 700;
    font-size: 28px;
    color: $white;
  }
  &__form {
    @include flex(column, center, "");
    gap: 30px;
    margin-top: 40px;
  }
}

@media (min-width: 900px) {
  .forgotPassword {
    &__heading {
      font-size: 38px;
    }
  }
}
