@use "../../partials" as *;

.login {
  @include flex(column, center, center);
  margin-block: 40px;
  &__heading {
    font-family: $workSans;
    font-weight: 700;
    font-size: 28px;
    color: $white;
  }
  a {
    color: $gray;
    font-family: $workSans;
    font-size: 14px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    &:focus {
      color: $accent;
    }
  }
  &__form {
    @include flex(column, center, "");
    gap: 30px;
    margin-top: 40px;
    &__forgotPassword {
      align-self: flex-end;
      transform: translateY(-25px);
    }
  }
  span {
    color: $gray;
    font-family: $workSans;
    margin-top: 20px;
    font-size: 14px;
  }
}

@media (min-width: 900px) {
  .login {
    &__heading {
      font-size: 38px;
    }
  }
}
